* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fefefe;
}

main {
  width: 600px;
  padding: 1rem 1rem 3rem 1rem;
}

.quotes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.quotes--item {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #f9fafb;
  position: relative;
  box-shadow: 0 0 17px 0 rgb(0 0 0 / 12%);
}

.quotes--item-link {
  padding: 0.5rem 3rem;
  color: white;
  background-color: #101826;
  border-radius: 0.5rem;
  font-size: 12px;
  transition: filter 500ms;
  margin-top: 1rem;
  display: inline-block;
  font-weight: bold;
}
.quotes--item-link:hover {
  filter: brightness(1.1);
}
.quotes--item-link:active {
  filter: brightness(0.9);
}

.quotes--item-image {
  display: flex;
  column-gap: 0.5rem;
}

.quotes--item-image img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.quotes--item-image .no-image {
  width: 30px;
  height: 30px;
  padding: 2.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 16px;
}

.quotes--item-detail {
  display: flex;
  flex-direction: column;
}

.quotes--item-detail span {
  font-size: 9px;
  color: #979797;
}
.quotes--item-detail h3 {
  font-size: 20px;
}

.quotes--item-desc p {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 1.5rem;
}

.delete-quote {
  position: absolute;
  right: 0.80rem;
  top: 1.05rem;
  cursor: pointer;
  font-size: 20px;
  height: 12px;
  display: flex;
  align-items: center;
}

.text-line-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  width: 100%;
  max-width: 600px;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  box-shadow: 0 0 17px 0 rgb(0 0 0 / 12%);
}

footer span {
  margin-left: 0.75rem;
}

footer a {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}


footer img{
  vertical-align: middle;
}